:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-accent: rgb(105, 255, 71);
  --color-primary: #242424;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.initials-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}

label {
  font-family: "basic-sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

button {
  color: var(--color-accent);
  background-color: #000;
  width: 60%;
  max-width: 300px;
  height: 68px;
  font-family: "cooper-black-std", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 80px;
}

input,
select {
  border: 2px solid rgb(105, 255, 71);
  background-color: #242424;
  color: white;
  height: 20px;
  width: 200px;
  font-family: "basic-sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 5px;
  border-radius: 5px;
  width: 150px;
}

select {
  height: 30px;
}

h2 {
  color: white;
  font-size: 1.5rem;
  margin: 0;
  font-family: "cooper-black-std", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-top: 80px;
}

.configurator {
  display: flex;
  gap: 120px;
  padding-bottom: 10px;
  justify-content: center;
}

.configurator__arrow {
  color: var(--color-accent);
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "cooper-black-std", serif;
  font-size: 32px;
  font-weight: 700;
  margin-top: 5px;
}
.configurator__arrow:hover {
  cursor: pointer;
}

.configurator__subtitle {
  color: white;
  font-family: "basic-sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 5px;
}

.configurator__button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: var(--color-accent);
  background-color: #000;
  width: 40%;
  max-width: 150px;
  height: 30px;
  font-family: "cooper-black-std", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin: 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

.configurator__error-message {
  color: red;
  margin-top: 10px;
  margin-left: 100px;
  margin-bottom: 10px;
  font-family: "basic-sans", sans-serif;
  font-size: 18px;
}

.configurator__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.configurator__flex2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.configurator__options .configurator__circle {
  cursor: pointer;
  transition: transform 0.2s;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 10px 0;
  border: 2px solid #fff;
}

.configurator__options .configurator__circle:hover {
  transform: scale(1.2);
}

.configurator__initials-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
  margin-top: 20px;
}

.configurator__flex1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.configurator__checkbox {
  border: 2px solid rgb(105, 255, 71);
  background-color: #242424;
  color: white;
  width: 20px;
  margin-left: 15px;
  margin-top: 5px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
  margin-left: 100px;
  margin-bottom: 20px;
  gap: 40px;
  flex-wrap: wrap;
}

.user-details-div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.progbar {
  width: 100%;
  height: 20px;
  margin: 0;
  background-color: #242424;
  border-radius: 5px;
}
progress[value]::-webkit-progress-bar {
  border-radius: 5px; /* Adjust as needed */
}
progress[value]::-webkit-progress-value {
  border-radius: 5px; /* Adjust as needed */
  background-color: rgb(105, 255, 71);
}
progress[value]::-moz-progress-bar {
  border-radius: 5px; /* Adjust as needed */
  background-color: rgb(105, 255, 71);
}

.configurator__AIGenerator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.configurator__generateButton,
.configurator__updateShoeWithAI {
  color: var(--color-accent);
  background-color: #000;
  width: 70px;
  height: 50px;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  display: block;
  margin: auto;
}

@media (max-width: 950px) {
  .configurator {
    gap: 0px;
  }

  .configurator__arrow {
    font-size: 24px;
  }

  .configurator__subtitle {
    font-size: 20px;
  }

  .configurator__flex2 {
    gap: 20px;
  }

  .configurator__options .configurator__circle {
    width: 30px;
    height: 30px;
  }

  .configurator__initials-container {
    gap: 10px;
  }

  .configurator__initials-container input:nth-child(5) {
    width: 25px;
  }

  .configurator__flex1 {
    gap: 20px;
  }
  .configurator__button {
    width: 100px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .configurator__button {
    width: 70px;
    height: 50px;
    font-size: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .configurator {
    margin-left: 10px;
    margin-right: 10px;
  }
  .configurator__flex2 {
    gap: 10px;
  }

  .user-details__title {
    font-size: 20px;
    margin-left: 20px;
  }

  .user-details {
    margin-left: 20px;
    gap: 30px;
  }

  .user-details-div label {
    font-size: 16px;
  }

  .user-details-div input,
  .user-details-div select {
    width: 100px;
  }
}

@media (max-width: 400px) {
  .configurator__flex1 {
    gap: 0px;
  }

  .configurator__button {
    position: absolute;
    bottom: 28%;
    z-index: 1;
  }

  button {
    max-width: 200px;
    height: 50px;
    font-family: "cooper-black-std", serif;
    font-size: 16px;
    margin-top: 50px;
  }
}
